<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WebScrapping</title>
  <link rel="stylesheet" href="../static/style-index.css">
</head>

<body>
  <header>
    <a href="./index.html">Bussiness Intelligence y Big Data</a>
  </header>
  <article class="panel">
    <h1>Web Scrapping</h1>
    <section class="informacion">
      <p>link de la pagina:</p>
      <a href="https://clasificados.lostiempos.com/inmuebles"
        target="_blank">https://clasificados.lostiempos.com/inmuebles</a>
    </section>

    <button type="button" class="boton-iniciar" id="boton-iniciar" onclick="redireccionar()">Continuar</button>

  </article>
</body>

<script>
  function redireccionar() {
    window.location.href = './info.html';
  }
</script>

</html>